ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}

h3 {
    color: #D431A7;
    font-family: Century Gothic;
    }

h1 {
    color: #7A6C76;
    font-family: Century Gothic;
}

p {
    font-family: Century Gothic;
}
footer {
    margin-top: 50px;
    text-decoration: none;
}

header {
    margin-bottom: 50px;
    text-decoration: none;
}